[submodule "vendor/github.com/mr-tron/base58"]
	path = vendor/github.com/mr-tron/base58
	url = https://github.com/mr-tron/base58
[submodule "vendor/github.com/gxed/hashland"]
	path = vendor/github.com/gxed/hashland
	url = https://github.com/gxed/hashland
[submodule "vendor/github.com/minio/blake2b-simd"]
	path = vendor/github.com/minio/blake2b-simd
	url = https://github.com/minio/blake2b-simd
[submodule "vendor/github.com/minio/sha256-simd"]
	path = vendor/github.com/minio/sha256-simd
	url = https://github.com/minio/sha256-simd
[submodule "vendor/github.com/spaolacci/murmur3"]
	path = vendor/github.com/spaolacci/murmur3
	url = https://github.com/spaolacci/murmur3
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/github.com/jessevdk/go-flags"]
	path = vendor/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags
[submodule "vendor/github.com/agl/ed25519"]
	path = vendor/github.com/agl/ed25519
	url = https://github.com/agl/ed25519
[submodule "vendor/github.com/btcsuite/btcd"]
	path = vendor/github.com/btcsuite/btcd
	url = https://github.com/btcsuite/btcd
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "vendor/github.com/ipfs/go-log"]
	path = vendor/github.com/ipfs/go-log
	url = https://github.com/ipfs/go-log
[submodule "vendor/github.com/mattn/go-colorable"]
	path = vendor/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty
[submodule "vendor/github.com/opentracing/opentracing-go"]
	path = vendor/github.com/opentracing/opentracing-go
	url = https://github.com/opentracing/opentracing-go
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/ugorji/go"]
	path = vendor/github.com/ugorji/go
	url = https://github.com/ugorji/go
[submodule "vendor/github.com/mitchellh/go-homedir"]
	path = vendor/github.com/mitchellh/go-homedir
	url = https://github.com/mitchellh/go-homedir
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/github.com/skratchdot/open-golang"]
	path = vendor/github.com/skratchdot/open-golang
	url = https://github.com/skratchdot/open-golang
[submodule "vendor/github.com/ipfs/go-datastore"]
	path = vendor/github.com/ipfs/go-datastore
	url = https://github.com/ipfs/go-datastore
[submodule "vendor/github.com/jbenet/goprocess"]
	path = vendor/github.com/jbenet/goprocess
	url = https://github.com/jbenet/goprocess
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "vendor/github.com/gxed/bbloom"]
	path = vendor/github.com/gxed/bbloom
	url = https://github.com/gxed/bbloom
[submodule "vendor/github.com/hashicorp/golang-lru"]
	path = vendor/github.com/hashicorp/golang-lru
	url = https://github.com/hashicorp/golang-lru
[submodule "vendor/github.com/coreos/go-semver"]
	path = vendor/github.com/coreos/go-semver
	url = https://github.com/coreos/go-semver
[submodule "vendor/github.com/gxed/pubsub"]
	path = vendor/github.com/gxed/pubsub
	url = https://github.com/gxed/pubsub
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
[submodule "vendor/github.com/jbenet/go-temp-err-catcher"]
	path = vendor/github.com/jbenet/go-temp-err-catcher
	url = https://github.com/jbenet/go-temp-err-catcher
[submodule "vendor/github.com/gxed/eventfd"]
	path = vendor/github.com/gxed/eventfd
	url = https://github.com/gxed/eventfd
[submodule "vendor/github.com/gxed/GoEndian"]
	path = vendor/github.com/gxed/GoEndian
	url = https://github.com/gxed/GoEndian
[submodule "vendor/github.com/docker/spdystream"]
	path = vendor/github.com/docker/spdystream
	url = https://github.com/docker/spdystream
[submodule "vendor/github.com/fd/go-nat"]
	path = vendor/github.com/fd/go-nat
	url = https://github.com/fd/go-nat
[submodule "vendor/github.com/huin/goupnp"]
	path = vendor/github.com/huin/goupnp
	url = https://github.com/huin/goupnp
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/github.com/jackpal/gateway"]
	path = vendor/github.com/jackpal/gateway
	url = https://github.com/jackpal/gateway
[submodule "vendor/github.com/jackpal/go-nat-pmp"]
	path = vendor/github.com/jackpal/go-nat-pmp
	url = https://github.com/jackpal/go-nat-pmp
[submodule "vendor/github.com/cenkalti/backoff"]
	path = vendor/github.com/cenkalti/backoff
	url = https://github.com/cenkalti/backoff
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/bazil.org/fuse"]
	path = vendor/bazil.org/fuse
	url = https://github.com/bazil/fuse
[submodule "vendor/github.com/bren2010/proquint"]
	path = vendor/github.com/bren2010/proquint
	url = https://github.com/bren2010/proquint
[submodule "vendor/github.com/jbenet/go-is-domain"]
	path = vendor/github.com/jbenet/go-is-domain
	url = https://github.com/jbenet/go-is-domain
[submodule "vendor/github.com/jbenet/go-context"]
	path = vendor/github.com/jbenet/go-context
	url = https://github.com/jbenet/go-context
[submodule "vendor/github.com/davidlazar/go-crypto"]
	path = vendor/github.com/davidlazar/go-crypto
	url = https://github.com/davidlazar/go-crypto
[submodule "vendor/github.com/miekg/dns"]
	path = vendor/github.com/miekg/dns
	url = https://github.com/miekg/dns
[submodule "vendor/github.com/dustin/go-humanize"]
	path = vendor/github.com/dustin/go-humanize
	url = https://github.com/dustin/go-humanize
[submodule "vendor/github.com/dgraph-io/badger"]
	path = vendor/github.com/dgraph-io/badger
	url = https://github.com/dgraph-io/badger
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/github.com/AndreasBriese/bbloom"]
	path = vendor/github.com/AndreasBriese/bbloom
	url = https://github.com/AndreasBriese/bbloom
[submodule "vendor/github.com/dgryski/go-farm"]
	path = vendor/github.com/dgryski/go-farm
	url = https://github.com/dgryski/go-farm
[submodule "vendor/github.com/ipfs/go-ds-leveldb"]
	path = vendor/github.com/ipfs/go-ds-leveldb
	url = https://github.com/ipfs/go-ds-leveldb
[submodule "vendor/github.com/syndtr/goleveldb"]
	path = vendor/github.com/syndtr/goleveldb
	url = https://github.com/syndtr/goleveldb
[submodule "vendor/github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "vendor/github.com/ipfs/go-ds-measure"]
	path = vendor/github.com/ipfs/go-ds-measure
	url = https://github.com/ipfs/go-ds-measure
[submodule "vendor/go4.org"]
	path = vendor/go4.org
	url = https://github.com/camlistore/go4
[submodule "vendor/github.com/facebookgo/atomicfile"]
	path = vendor/github.com/facebookgo/atomicfile
	url = https://github.com/facebookgo/atomicfile
[submodule "vendor/github.com/ipsn/go-ipfs"]
	path = vendor/github.com/ipsn/go-ipfs
	url = https://github.com/ipsn/go-ipfs
[submodule "vendor/github.com/hashicorp/go-multierror"]
	path = vendor/github.com/hashicorp/go-multierror
	url = https://github.com/hashicorp/go-multierror
[submodule "vendor/github.com/hashicorp/errwrap"]
	path = vendor/github.com/hashicorp/errwrap
	url = https://github.com/hashicorp/errwrap
[submodule "vendor/github.com/whyrusleeping/go-logging"]
	path = vendor/github.com/whyrusleeping/go-logging
	url = https://github.com/whyrusleeping/go-logging
