// app global css

a {
    color: #2e9dfd;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    transition: color .25s
}

a:hover {
    color: #027be3
}

a:active,a:hover {
    outline-width: 0
}
